@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

/* General page styles */
body,
html {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
  background-color: #f4f7fa;
  color: #333;
}

.app-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
}

/* Navbar styles */
.navbar {
  box-sizing: border-box;
  background-color: #5a9246; /* Blue shade that matches button colors */
  padding: 10px 20px;
  padding-right: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: white;
  width: 100%;
  height: 60px;
}
.sign-in-container {
  margin-top: 300px;
}

.sign-in-container button {
  margin: 10px;
}

.navbar a {
  color: white; /* Ensures links are white */
  text-decoration: none;
  margin-right: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e0e0e0; /* Light grey for hover effect */
}

/* Specific styling for Clerk's UserButton if needed */
.clerk-user-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.clerk-user-button:hover {
  color: #e0e0e0; /* Consistency in hover effects */
}

/* Additional styles to ensure text and elements are vertically aligned properly */
.navbar * {
}
